.cover__background {
  width: 100%;
  text-decoration: none;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  width: min(1184px, 100%);
  min-height: min(740px, calc(100vw * 5 / 8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.cover__background::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #2A2C2F;
  opacity: .3;
  transition: opacity .3s linear;
}
.cover__background:hover::before {
  opacity: .8;
}
